---
import Title from "../components/Title.astro";
import GalleryCard from "../components/GalleryCard.astro";
import { supabase } from "../lib/supabase";

// const cards = [
//   {
//     title: "冬隣（一次創作）",
//     link: "",
//     image:
//       "https://dmtuxgiexdvcwwqqkexx.supabase.co/storage/v1/object/public/Fuyudonari/fuyu_natsu.png",
//   },
//   {
//     title: "その他（一次創作）",
//     link: "",
//     image:
//       "https://dmtuxgiexdvcwwqqkexx.supabase.co/storage/v1/object/public/Fuyudonari/kkt.png",
//   },
//   {
//     title: "TRPG立ち絵",
//     link: "",
//     image:
//       "https://dmtuxgiexdvcwwqqkexx.supabase.co/storage/v1/object/public/Fuyudonari/fuyu_umi.png",
//   },
//   {
//     title: "その他（二次創作など）",
//     link: "",
//     image:
//       "https://dmtuxgiexdvcwwqqkexx.supabase.co/storage/v1/object/public/Fuyudonari/fuyu_te.png",
//   },
// ];

let categories:any[] = [];
try {
  const { data, error } = await supabase
    .from("images")
    .select("category, image_url, created_at")
    .order("category", { ascending: true })
    .order("created_at", { ascending: true });
  if (error) throw error;

  // カテゴリーごとの最初の画像のみ取得
  const uniqueCategories = new Map();
  data.forEach((item) => {
    if (!uniqueCategories.has(item.category)) {
      uniqueCategories.set(item.category, item.image_url);
    }
  });

  categories = Array.from(uniqueCategories.entries()).map(([category, image_url]) => ({
    category,
    image_url,
  }));
} catch (error) {
  // console.error("Error fetching categories:", error.message);
}


---

<section class="sec-3">
  <Title title="Gallery" color="white" />
  <div class="gallery-cards">
    <!-- {
      cards.map((card) => (
        <GalleryCard title={card.title} link={card.link} image={card.image} />
      ))
    } -->
    <ul>
      {categories.map(category => (
        <GalleryCard title={category.category} link={`/Gallery/${category.category}`} image={category.image_url} />
      ))}
    </ul>
  </div>
</section>

<style>
  .sec-3 {
    background-color: #000;
    position: relative;
    height: 100vh;
    width: 100vw;

    .gallery-cards {
      display: grid;
      grid-template-columns: repeat(2, 600px);
      gap: 2rem;
      padding: 1rem;
      margin: 0 auto;
      max-width: 80%;
    }
  }
</style>
